.container {
  .headers-margin, p { margin-top: 1rem; }

  .album-container {
    display: flex;
    flex-wrap: wrap;

    .album-headers-margin { margin-top: 2rem; }

    img {
      margin-right: 2rem;
      height: 256px;
      pointer-events: none;
      border-radius: 5px;
      box-shadow: 0 0 .3rem black;
    }

    .album-headers {
      display: flex;
      flex-direction: column;

      .album-headers-margin-top { margin-top: 1.5rem; }
    }
  }

  .card-container {
    margin: 2rem 0 0 0;
    flex-direction: column;

    .vo-title {
      margin-top: .5rem;

      i { color: var(--font-color-hover); }
    }
  }
}