.tooltipContainer {
    position: relative;
    display: block;
    .tooltip {
        position: absolute;
        display: none;
        border-radius: 5px;
        opacity: 0;
        width: max-content;
        transition: opacity 500ms;
        overflow: hidden;
        .padding {
            width: fit-content;
            display: block;
            padding: 0.75rem;
            background-color: var(--background-primary);
            border-radius: 5px;
            border: 1px solid var(--background-hover-primary);
        }
    }
    .bottom {
        transform: translateY(calc(105%)) translateX(-71%);
    }
    .top {
        transform: translateY(calc(-120%)) translateX(0%);
    }
    &:hover,
    .tooltip:hover {
        .tooltip {
            opacity: 1;
            display: block;
            transition: opacity 500ms;
        }
    }
}

.hoverFix {
    position: absolute;
    height: 100%;
    width: 100%;
    transform: scale(3);
    pointer-events: all;
}