.loader-root {
  display: flex;
  flex-direction: column;
  align-items: center;

  .loader {
    div { background-color: var(--text-color-button); }
  }

  p { margin-top: 1rem; }
}

.consent {
  display: flex;
  flex-direction: column;

  p, h3 { margin-top: 1rem; }

  .scopes {
    display: flex;
    flex-wrap: wrap;

    code { margin: 1rem 1rem 0 0; }
  }
}