.summary {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: .150rem solid var(--font-color-hover);

  h2 { margin-bottom: 1rem; }

  span {
    cursor: pointer;
    transition: color .5s;
    width: fit-content;

    &:hover { color: var(--font-color-hover); }
  }

  .summary-items {
    margin-top: 1rem;
    list-style: inside;

    li {
      margin-bottom: .25rem;

      a {
        transition: color .5s;

        &:hover { color: var(--font-color-hover); }
      }
    }

    &.close { display: none }
  }

  .sub-summary {
    ul {
      margin: .25rem 0 0 2rem;
    }
  }
}