.summary {
  padding: 1rem;
  border-radius: 5px;
  border: 0.15rem solid var(--font-color-hover);

  h2 {
    margin-right: 1rem;
    color: var(--font-color-hover),
  }

  span {
    cursor: pointer;
    color: var(--font-color-hover);

    &:hover {
      text-decoration: underline;
    }
  }

  .items {
    margin-top: 1rem;
    list-style: inside;

    li {
      margin-bottom: 0.25rem;

      a {
        transition: color 0.5s;

        &:hover {
          color: var(--font-color-hover);
        }
      }
    }

    &.close {
      display: none;
    }
  }

  .sub-summary ul {
    margin: 0.25rem 0 0 2rem;
  }
}
