.card {
  background-color: var(--background-primary);
  flex: 1;
  max-width: var(--card-min-dimensions);
  border-radius: var(--border-radius);
  overflow: hidden;
  display: grid;
  grid-template-rows: max-content auto min-content;
  animation: enter 500ms ease-out;
  @media only screen and (max-width: 600px) {
    height: 100%;
    min-width: 100%;
    border-radius: 0;
  }
}

.content {
  background-color: var(--background-primary);
  padding: var(--card-internal-header);
  padding-top: 5%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
  height: auto;
  flex: 1;
}

.content-inner {
  height: 100%;
}

.footer {
  background-color: var(--primary);
  color: var(--text-color-button);
  padding: 1% 4%;

  p {
    vertical-align: middle;

    a {
      text-decoration: none;
      color: var(--text-color-button);
    }
  }
}

.header {
  background-color: var(--primary);
  padding: var(--card-internal-header);
  color: var(--text-color-button);
  vertical-align: middle;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 10;
  min-height: 50px;

  h1 {
    padding: 0;
    font-size: x-large;
  }
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.app {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: var(--background);
  animation: enter 500ms ease-out;
}
