.cards-container {
  flex-wrap: wrap;

  .card-container {
    margin: 2rem 2rem 0 0;
    min-width: 15rem;
    flex: 1;
    flex-direction: column;

    img {
      pointer-events: none;
      width: 80px;
      height: 80px;
    }

    div {
      display: flex;
      flex-direction: column;

      h2, p { margin-top: 1rem; }
    }
  }
}