openapi: 3.0.0

info:
  title: Amelia
  description: Amelia is the API which allows to interact with the frontend of IMR & to manage data and users
  version: 1.1.7

servers:
  - url: https://amelia-api.developershouse.xyz
    description: First version of the API in production

paths:
  "/data/movies/title/{movieTitle}/{language}":
    description: Get movie data
    get:
      operationId: getMovieData
      parameters:
        - in: path
          name: movieTitle
          required: true
          schema:
            type: string
        - in: path
          name: language
          required: true
          schema:
            type: string
      tags:
        - Movie data
      responses:
        200:
          description: Successfully generated signed S3 link to provide data access
          content:
            application/json:
              schema:
                  type: object
                  required:
                    - statusCode
                    - id
                    - title
                    - data
                  properties:
                    statusCode:
                      type: number
                    id:
                      type: string
                    title:
                      type: string
                    data:
                      type: object
                      required:
                        - headers
                        - movie
                      properties:
                        headers:
                          type: string
                        movie:
                          type: string
                        casting:
                          type: string
                        characters:
                          type: string
                        videos:
                          type: string
                        ost:
                          type: string
                        technical-specs:
                          type: string
        404:
          description: Movie not found on the database
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/genericReturn"

  "/data/search":
    description: Search content into the database
    get:
      operationId: getSearchResults
      parameters:
        - in: query
          name: title
          required: true
          schema:
            type: string
      tags:
        - Content search
      responses:
        200:
          description: Successfully found content
          content:
            application/json:
              schema:
                type: object
                required:
                  - statusCode
                  - data
                properties:
                  statusCode:
                    type: number
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/searchResponse"
        400:
          description: "Bad request: missing parameters"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/genericReturn"

        404:
          description: Content not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/genericReturn"

  "/data/wiki/{type}/{language}/{path}":
    description: Get wiki data
    get:
      operationId: getWiki
      parameters:
        - in: path
          name: type
          required: true
          schema:
            type: string
        - in: path
          name: language
          required: true
          schema:
            type: string
        - in: path
          name: path
          required: true
          schema:
            type: string
      tags:
        - Wiki
      responses:
        200:
          description: Successfully found wiki
          content:
            application/json:
              schema:
                type: object
                required:
                  - statusCode
                  - body
                properties:
                  statusCode:
                    type: number
                  body:
                    type: string
        404:
          description: Content not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/genericReturn"

components:
  schemas:
    genericReturn:
      type: object
      required:
        - statusCode
        - message
      properties:
        statusCode:
          type: number
        message:
          type: number

    searchResponse:
      type: object
      required:
        - id
        - name
        - poster
        - releaseDate
      properties:
        id:
          type: string
        name:
          type: string
        poster:
          type: string
        releaseDate:
          type: string
