openapi: 3.0.0

info:
  title: Amelia
  description: Amelia is the API which allows to interact with the frontend of IMR & to manage data and users
  version: 1.0.1

servers:
  - url: https://amelia-api.developershouse.xyz
    description: First version of the API in production

paths:
  "/data/movies/title/{movieTitle}/{language}":
    description: Get movie data
    get:
      parameters:
        - in: path
          name: movieTitle
          required: true
          schema:
            type: string
        - in: path
          name: language
          required: true
          schema:
            type: string
      tags:
        - Movie data
      responses:
        200:
          description: Successfully generated S3 link to provide data access
          content:
            application/json:
              schema:
                  type: object
                  properties:
                    statusCode:
                      type: number
                    dataURL:
                      type: string
        404:
          description: Movie not found on the database

  "/data/search":
    description: Search content into the database
    get:
      parameters:
        - in: query
          name: title
          required: true
          schema:
            type: string
      tags:
        - Content search
      responses:
        200:
          description: Successfully found content
          content:
            application/json:
              schema:
                type: object
                required:
                  - id
                  - name
                  - releaseDate
                properties:
                  id:
                    type: string
                  name:
                    type: string
                  releaseDate:
                    type: string
        400:
          description: "Bad request: missing parameters"
        404:
          description: Content not found
