.loader {
  min-height: 30rem;
  align-items: center;
}

.container-root {
  max-height: calc(100vh - 3.5rem);

  .container {
    padding: 6rem 2rem;
    align-self: center;

    .generic-margin-top { margin-top: 1rem; }

    .card {
      margin-top: 4rem;
      flex-direction: column;

      h2 { color: var(--font-color-hover); }

      .forms-container {
        margin-top: 1rem;
        display: flex;
        flex-wrap: wrap;

        .form-container {
          flex: 1 20rem;

          span { cursor: default; }
        }
      }
    }

    @media screen and (max-width: 700px) {
      padding: 2rem;
    }
  }

  .buttons-root {
    display: flex;
    flex-direction: column;

    h2 { color: var(--font-color-hover); }
  }
}
