.loader {
  min-height: 30rem;
  align-items: center;
}

.container {
  flex-direction: column;
  align-self: center;
  justify-content: center;

  .generic-margin-top { margin-top: 1rem; }

  .card {
    margin: 2rem 0 0 0;
    flex-direction: column;

    h2 { color: var(--font-color-hover); }

    .forms-container {
      margin-top: 1rem;
      display: flex;
      flex-wrap: wrap;

      .form-container {
        flex: 1 30rem;

        span { cursor: default; }
      }
    }
  }
}

.buttons-root {
  display: flex;
  flex-direction: column;
  align-self: center;

  h2 { color: var(--font-color-hover); }
}
