.container {
  .videos-container-root {
    margin-top: 4rem;
    flex-direction: column;

    .videos-container {
      flex-wrap: wrap;

      .video-container {
        margin: 2rem 2rem 0 0;
        cursor: pointer;
        flex: 0;
        flex-direction: column;
        border-radius: 5px;
        transition: .25s;

        img {
          margin-bottom: .5rem;
          width: 300px;
          pointer-events: none;
        }

        h3 {
          max-width: 300px;
          transition: .5s;
        }

        &:hover {
          transition: .25s;
          margin: 0;
          padding: 1rem;
          background-color: var(--primary-background-color);
          transform: scale(1.01);
          z-index: 2;

          h3 {
            transition: .5s;
            color: var(--font-color-hover);
          }
        }
      }
    }
  }
}