.presentation {
  max-width: 25rem;
  padding: 1rem;
  border: 0.15rem solid var(--font-color-hover);
  border-radius: 5px;

  table {
    width: 100%;

    td {
      padding: 0.5rem 0;

      &:first-of-type {
        padding-right: 1.5rem;
        color: var(--font-color-hover);
      }
    }
  }

  .franchise {
    width: 100%;
    margin-top: 2rem;

    h1 {
      font-size: 18px;
    }

    .element {
      max-width: 50%;
      margin-top: 1rem;
      flex: 1 50%;
      cursor: pointer;

      div {
        width: 50px;
        height: 50px;

        svg {
          transition: fill 0.5s;
          transform: scale(2);
        }
      }

      span {
        font-size: 16px;
        line-height: 1.5;
        transition: color 0.5s;
      }

      &.previous {
        margin-right: 2rem;

        span {
          margin-left: 0.5rem;
        }
      }

      &.next {
        margin-left: auto;

        span {
          margin-right: 0.5rem;
        }
      }

      &:hover {
        div svg {
          fill: var(--font-color-hover);
        }

        span {
          color: var(--font-color-hover);
        }
      }
    }
  }
}

.movie-specs table {
  width: fit-content;
  margin-top: 2rem;
  table-layout: auto;
  border: 0.15rem solid var(--font-color-hover);
  border-collapse: collapse;
  font-size: 18px;

  td {
    padding: 1rem;
    border: 0.15rem solid var(--font-color-hover);

    &:first-of-type {
      color: var(--font-color-hover);
    }

    &:last-of-type ul {
      list-style: inside;

      li {
        margin-top: 0.25rem;

        &:first-child {
          margin: 0;
        }
      }
    }
  }
}