.suspense {
  width: calc(100% - 4rem);
  height: calc(100% - 4rem);
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;

  &.min-height {
    height: unset;
    min-height: 30rem;
  }
}