# Files and folders prettier should ignore.
# Documentation for this file can be found at https://eslint.org/docs/user-guide/configuring#eslintignore
# Please try to keep this file the same as the .prettierignore file and the .gitignore file.
# This is a template you can modify per project.

# TypeScript compiled files folders
dist/
build/

# TypeScript v1 declaration files
typings/

# Dependency directories
node_modules/
jspm_packages/
vendor/
x/

# Editors/IDE
.idea/
.vscode/

# Test files
**/*.spec.ts
*.config.js
src/types
