.loader-container {
  display: flex;
  flex-direction: column;

  .loader {
    width: 40px;
    height: 40px;

    div { background-color: var(--font-color); }
  }

  p { margin-top: 1rem; }
}

.loader-active { display: block; }