.card-margin { margin: .5rem; }

.container-full {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.picture-rounded {
  user-select: none;
  border-radius: 50%;
}

.onlyMobiles {
  display: none;
}

@media screen and (max-width: 700px) {
  .onlyMobiles {
    display: block;
  }

  .exceptMobile {
    display: none !important;
  }
}
