* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  color: var(--font-color);
  scroll-behavior: smooth;
}

/* Styles if JavaScript is disabled */
noscript {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
}

noscript > div {
  margin: 2rem;
  padding: 1.5rem;
  max-width: 50rem;
  background-color: rgb(240, 240, 240);
  border-radius: 5px;
}

noscript > div > hr {
  margin: 2rem 0;
  border-color: black;
}

/* Global styles */
body {
  background-color: var(--secondary-background-color);
}

h1,
h2,
h3,
h4 {
  font-weight: normal;
}

a,
button,
p,
span,
li,
code,
label {
  font-size: 18px;
}

a,
button {
  text-align: center;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 35px;
}

h2 {
  font-size: 25px;
}

hr {
  margin: 1.5rem 0;
  border-color: var(--font-color);
}

h1,
h2,
h3,
h4,
p,
span,
a,
button,
q,
i,
li {
  word-wrap: break-word;
}

td {
  font-weight: bold;
  vertical-align: top;
}

code {
    padding: .75rem;
    border-radius: 5px;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(230, 85, 85);
}

img {
  font-size: 12px;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--website-background-color);
  transition: background-color ease-in-out 300ms;
}
