.homeHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.headerTitle {
  margin-bottom: 1.5rem;
}

.headerContent {
  padding-top: 4rem;
  padding-bottom: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.headerSubtext {
  max-width: 58vw;
  margin-bottom: 2rem;
}

.points {
  padding: 1rem 1rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
  border-radius: 10px;

  div {
    p {
      word-break: break-word;
    }

    max-width: content-box;
    flex: 1 38%;
    padding: 1.75rem;
  }
}


.background {
  padding: 1rem;
  transform: rotate(-0.8deg) translateX(-1%);
  display: block;
  width: 100%;
  background-color: var(--background-secondary);
  box-shadow: var(--background-hover-secondary) 0 0 10px;

  .content {
    display: block;
    margin: 3% 3% 0;
    transform: rotate(0.8deg);
  }

  margin-bottom: 3%;
}

.contact {
  padding: 2rem;
}
