.form-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  button { background-color: var(--secondary-background-color); }
}

.navbar {
  z-index: 7;
  padding: 0 .5rem;
  width: calc(100% - 1rem);
  height: 3.5rem;
  display: flex;
  align-items: center;
  background-color: var(--primary-background-color);
  box-shadow: 0 0 .3rem black;
  position: sticky;
  top: 0;

  .navbar-logo {
    padding: 0 1rem 0 .5rem;
    display: flex;
    align-items: center;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;

    img {
      margin-right: 1rem;
      width: 32px;
      height: 32px;
    }

    span { padding: 1rem 0; }
  }

  .separator {
    margin: 0 .5rem;
    width: .15rem;
    height: 2rem;
    background-color: var(--font-color);
    border-radius: 5px;
  }

  .navbar-items {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: var(--primary-background-color);

    .start {
      display: flex;

      a {
        padding: 1rem;
        text-align: center;
        text-decoration: none;
        transition: .5s;

        &:hover, &.active { color: var(--font-color-hover); }
      }
    }

    .end {
      display: flex;

      .user {
        border: none;
        outline: none;
        cursor: pointer;
        background-color: transparent;

        .avatar {
          border-radius: 50%;
          transform: scale(2);
          margin-right: 1rem;
        }

        span { transition: color .5s; }

        &:hover {
          span { color: var(--font-color-hover); }
        }
      }

      .buttons {
        padding: 1rem;
        display: flex;
        align-items: center;
        border: none;
        outline: none;
        cursor: pointer;
        background-color: transparent;

        svg, img {
          width: 1rem;
          height: 1rem;
          transform: scale(1.5);
        }

        .search { transform: scale(1.8); }

        .switcher-span { display: none; }
      }
    }
  }

  @media screen and (max-width: 800px) {
    flex-direction: column;

    .navbar-logo {
      padding: 0 1rem;
      width: calc(100% + 1rem);
      height: 100%;

      span { transition: .5s; }

      &:hover {
        span { color: var(--font-color-hover); }
      }
    }

    .separator { display: none; }

    .navbar-items {display: none; }

    &.open {
      z-index: 10;
      
      .navbar-items {
        padding: 0 .5rem;
        display: flex;
        flex-direction: column;

        .start, .end {
          width: 100%;
          flex-direction: column;
          opacity: 1;

          a { text-align: left; }

          .buttons {
            text-align: left;

            .switcher-span {
              display: unset;
              transition: .5s;
            }

            &:hover {
              .switcher-span {
                color: var(--font-color-hover);
                transition: .5s;
              }
            }
          }
        }

        .end {
          img, svg { margin-right: 1rem; }
        }
      }
    }
  }
}