.notification {
  margin: .25rem 0;
  padding: 1rem;
  width: calc(100% - 2rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  background-color: var(--secondary-background-color);

  .margin-right { margin-right: 1rem; }

  .buttons-container {
    margin: 1rem 0 0 0;

    button {
      padding: .75rem;
      transition: .5s;

      svg {
        margin-right: .75rem;
        transition: .5s;
      }

      span { transition: .5s; }

      &:hover {
        color: var(--font-color-hover);

        svg { fill: var(--font-color-hover); }

        span { color: var(--font-color-hover); }
      }
    }
  }

  .close {
    margin: 0 0 0 1rem;
    padding: 0;
    background-color: transparent;
    display: flex;
    align-items: center;

    svg { transition: .5s; }

    &:hover {
      svg {
        fill: var(--font-color-hover);
        transition: .5s;
      }
    }
  }

  &.info, &.warning, &.error {
    p, span { color: black; }

    svg { fill: black; }
  }

  &.info { background-color: var(--notification-info-color); }

  &.warning { background-color: var(--notification-warning-color); }

  &.error { background-color: var(--notification-error-color); }
}