.button {
  padding: 0.7rem 1rem 0.7rem 1rem;
  display: inline-flex;
  align-items: center;
  border-radius: 5px;
  background-color: var(--background-primary);

  color: var(--foreground-primary);

  &:hover { background-color: var(--background-hover-primary); }
  &:disabled { background-color: var(--background-hover-secondary); }

  .image {
    display: inline;
    margin: 0 0.25rem;

    svg {
      height: 32px;
      width: 32px;
      vertical-align: middle;
      display: inline-block;
    }
  }
}

.button__no_radius { border-radius: 0; }


.group {
  display: flex;
  flex-flow: row wrap;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: var(--background-hover-secondary) 0 0 3px;

  a {
    min-width: fit-content;
    flex: 1;
    display: flex;
    border-radius: 0;
  }

  .button, a .button {
    width: 100%;
    flex: 1;
    position: relative;
    justify-content: center;
    border-radius: 0;
    padding: 1em;
  }
}
