.light {
  --foreground-primary: black;
  --foreground-secondary: black;
  --foreground-tertiary: black;

  --foreground-hover-primary: rgb(35, 35, 35);
  --foreground-hover-secondary: rgb(35, 35, 35);
  --foreground-hover-tertiary: rgb(35, 35, 35);

  --background-primary: rgb(230, 230, 230);
  --background-secondary: #ebebeb;
  --background-tertiary: "";

  --background-hover-primary: rgb(210, 210, 210);
  --background-hover-secondary: rgb(148, 148, 148);
  --background-hover-tertiary: rgb(215, 215, 215);

  --menu-item-hover-background: #e2e2e2;

  color: var(--foreground-primary);
  background: #FAFAFA;
}

.dark {
  --foreground-primary: white;
  --foreground-secondary: white;
  --foreground-tertiary: white;

  --foreground-hover-primary: rgb(220, 220, 220);
  --foreground-hover-secondary: rgb(220, 220, 220);
  --foreground-hover-tertiary: rgb(220, 220, 220);

  --background-primary: rgb(60, 60, 60);
  --background-secondary: #353535;
  --background-tertiary: rgb(40, 40, 40);

  --background-hover-primary: rgb(80, 80, 80);
  --background-hover-secondary: rgb(33, 33, 33);
  --background-hover-tertiary: rgb(215, 215, 215);

  --menu-item-hover-background: rgb(78, 78, 78);

  background: rgb(40, 40, 40);
}

a { color: var(--foreground-primary); }

.themeContainer {
  color: var(--foreground-primary);
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}
