.header {
  height: unset;
  flex: 1;
}

.leftNav {
  flex: 1;
  flex-wrap: nowrap;
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 20rem;
}

.masterNav {
  display: flex;
  flex: 1;
  height: 100%;
}

.full {
  margin: 1rem 0 1rem 1rem;
  max-width: 25vw;
  flex: 1;
  display: flex;
}

.content {
  flex: 1;
  height: 100%;
  overflow-y: auto;
}

.card {
  width: 20rem;
  border-radius: 0;
  left: calc(-100%);
  z-index: 3;
  justify-items: center;
  display: flex;
  box-shadow: var(--background-hover-secondary) 0 0 5px;
  background-color: var(--background-secondary);
  transition: left ease-out 500ms, opacity 500ms;
}

@media screen and (max-width: 700px) {
  .card {
    height: 100%;
    position: fixed;
    .backdrop {
      display: block;
      pointer-events: none;
    }
  }
  .open {
    left: 0;
    .backdrop {
      pointer-events: visible;
      opacity: 1;
    }
  }
}

.list {
  display: flex;
  flex-flow: column nowrap;
  margin-top: 5%;
  border-radius: 0;
  box-shadow: none;
}


.leftNavHeader {
  padding-top: 1.8rem;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  display: flex;
}

.backdrop {
  height: 100%;
  width: calc(300vw);
  position: absolute;
  left: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  display: none;
  transition: opacity 500ms 150ms, display 0ms 500ms;
}