.container {
    flex: 1;
    margin-top: 5%;
    padding-bottom: 3%;
    display: flex;
    flex-flow: column;

    form {
        width: 100%;

        button {
            width: 100%;
        }
    }
}