.notification-enter {
    opacity: 0;
    overflow: hidden;
    transform: translateY(100%);
}

.notification-enter-active {
    opacity: 1;
    overflow: hidden;
    transform: translateY(0);
    transition: opacity 500ms, transform 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.notification-exit {
    opacity: 1;
    transition: transform 300ms, position 0ms 300ms;
}

.notification-exit-active {
    overflow: hidden;
    transform: translateX(-150%);
}
