.area {
  position: fixed;
  justify-content: flex-end;
  text-align: left;
  bottom: 0;
  width: 40%;
  max-height: 30%;
  z-index: 15;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 640px) {
    width: 100%;

    .notification { flex: 1; }
  }
}

.notification {
  text-align: left;
  margin: 5px 1% 1%;
  border-radius: 5px;
  z-index: 15;
  padding: 1.2rem 1.2rem 1.1rem;
  background-color: white;
  color: black;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 20px;
}
