.alignment-full-center {
  justify-content: center;
  align-items: center;
}

.flex { display: flex; }

.flex-full { flex: 1; }

.flex-wrap { flex-wrap: wrap; }

.column { flex-direction: column; }

.animation-opacity {
  animation: animate-opacity .5s;

  @keyframes animate-opacity {
    from { opacity: 0; }
    to { opacity: 1; }
  }
}

.no-margin { margin: 0 !important; }

.primary-padding { padding: 1rem; }

.secondary-padding { padding: 2rem; }

.primary-margin { margin: 1rem; }

.secondary-margin { margin: 2rem; }

.navbar-margin {
  @media screen and (max-width: 800px) {
    margin-top: 3.34rem;
  }
}

.rotate-infinite-animation {
  animation: animate-rotate-infinite 1s infinite;

  @keyframes animate-rotate-infinite {
    from { transform: rotate(0); }
    to { transform: rotate(360deg); }
  }
}

.opacity-display-animation {
  animation: animate-opacity-display .5s;

  @keyframes animate-opacity-display {
    from { opacity: 0; }
    to { opacity: 1; }
  }
}

.rounded-picture { border-radius: 50%; }

.border-radius { border-radius: 5px; }

.overflow-hidden { overflow: hidden; }

.text-align-center { text-align: center; }

.page-body-width {
  padding: 2rem;
  width: calc(100% - 4rem);
  max-width: 75%;

  @media screen and (max-width: 700px) {
    max-width: unset;
  }
}

.position-relative { position: relative; }

.image-rendering { image-rendering: pixelated; }