.light {
  --website-background-color: rgb(225, 225, 225);

  --primary-background-color: rgb(200, 200, 200);
  --primary-background-color-hover: rgb(135, 135, 135);

  --secondary-background-color: rgb(175, 175, 175);
  --secondary-background-color-hover: rgb(120, 120, 120);

  --font-color: black;
  --font-color-hover: rgb(229, 160, 13);
}

.dark {
  --website-background-color: rgb(35, 35, 35);

  --primary-background-color: rgb(60, 60, 60);
  --primary-background-color-hover: rgb(125, 125, 125);

  --secondary-background-color: rgb(100, 100, 100);
  --secondary-background-color-hover: rgb(150, 150, 150);

  --font-color: white;
  --font-color-hover: rgb(229, 160, 13);
}