.light {
  --website-background-color: rgb(255, 255, 255);

  --primary-background-color: rgb(235, 235, 235);
  --primary-background-color-hover: rgb(200, 200, 200);

  --secondary-background-color: rgb(210, 210, 210);
  --secondary-background-color-hover: rgb(175, 175, 175);

  --font-color: black;
  --font-color-hover: rgb(230, 85, 85);

  --background-opacity: .4;
}

.dark {
  --website-background-color: rgb(35, 35, 35);

  --primary-background-color: rgb(60, 60, 60);
  --primary-background-color-hover: rgb(125, 125, 125);

  --secondary-background-color: rgb(100, 100, 100);
  --secondary-background-color-hover: rgb(150, 150, 150);

  --font-color: white;
  --font-color-hover: rgb(230, 85, 85);

  --background-opacity: .3;
}