.items-transition { transition: .5s; }

.items-transition:hover, .active {
  transition: .5s;
  background-color: var(--menu-item-hover-background);
}

.item {
  padding: 1rem;
  cursor: pointer;
}

.onlyMobiles {
  display: none;
}

.container {
  top: 0;
  width: 100%;
  z-index: 4;
  position: absolute;
  background-color: var(--background-primary);
  vertical-align: middle;
  display: flex;
  flex-flow: row;
  box-shadow: var(--background-hover-primary) 0 0 10px;

  @media screen and (max-width: 640px) {
    flex-flow: column wrap;
    .drawer {
      display: none;
    }
    .onlyMobiles {
      display: block;
    }
    .drawer {
      align-items: unset;
      height: calc(94vh);
      flex-flow: column;
      .item, a {
        max-height: 10%;
        display: block;
        flex: 0;
      }
    }
    .bottom {
      margin-top: auto;
    }
    .primed {
      box-shadow: var(--background-hover-secondary) 0 0 7px;
      .item {
        flex: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        svg {
          align-self: flex-end;
        }
        h3 {
          padding: 0;
          margin: 0;
          font-size: large;
        }
      }
    }
  }
}

.open {
  position: fixed;
  display: inline-block;
  .drawer {
    display: flex;
  }
}

.drawer {
  align-items: center;
  align-content: center;
  display: flex;
}
