.form-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  .select-language {
    margin: .5rem 1rem;
    position: relative;

    div {
      padding: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--secondary-background-color);
      transition: .5s;
      cursor: pointer;
      border-radius: 5px;

      span { transition: .5s; }

      svg {
        margin-left: 2rem;
        transform: scale(1.5);
      }

      &:hover {
        color: var(--font-color);
        transition: all .5s;

        span {
          color: var(--font-color-hover);
          transition: .5s;
        }

        svg {
          fill: var(--font-color-hover);
          transition: .5s;
        }
      }
    }

    &:hover {
      div { border-radius: 5px 5px 0 0; }

      ul {
        width: 100%;
        position: absolute;
        flex-direction: column;
        list-style: none;
        background-color: var(--secondary-background-color);
        border-radius: 0 0 5px 5px;
        overflow: hidden;

        li {
          padding: 1rem;
          cursor: pointer;
          transition: .5s;
          display: flex;

          img {
            margin-right: 1rem;
            height: 1.5rem;
          }

          span { transition: .5s; }

          &:hover {
            span {
              color: var(--font-color-hover);
              transition: .5s;
            }
          }
        }
      }
    }
  }

  button { background-color: var(--secondary-background-color); }
}

.navbar {
  z-index: 2;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-background-color);
  box-shadow: 0 0 1rem black;

  .mobile-menu { display: none; }

  .start {
    display: flex;

    a {
      padding: 1rem;
      text-align: center;
      text-decoration: none;
      transition: .5s;
      cursor: pointer;

      &:hover, &.active {
        background-color: var(--primary-background-color-hover);
        transition: .5s;
      }
    }
  }

  .end { display: flex; }

  .buttons {
    display: flex;
    align-items: center;
    border-radius: 0;

    &:hover {
      color: var(--font-color);
      background-color: var(--primary-background-color-hover);
    }

    svg, img {
      width: 1rem;
      transform: scale(1.5);
    }

    .avatar {
      border-radius: 50%;
      transform: scale(1.75);
    }

    span { margin-left: 1rem; }

    .switcher-span { display: none; }
  }

  @media screen and (max-width: 700px) {
    position: fixed;

    .mobile-menu {
      width: 100%;
      top: 0;
      display: flex;
      align-items: center;
      border-radius: 0;
      transition: .5s;

      &:hover {
        background-color: var(--primary-background-color-hover);
        transition: .5s;
      }

      svg { transform: scale(2); }

      h1 {
        margin-left: 1rem;
        font-size: 1.25rem;
      }
    }

    .start, .end { display: none; }

    &.open {
      flex-direction: column;

      .start, .end {
        width: 100%;
        display: flex;
        flex-direction: column;
      }

      a { text-align: left; }

      .buttons {
        text-align: left;

        .switcher-span { display: unset; }
      }
    }
  }
}