.background {
  width: 100%;
  background-color: var(--primary-background-color);
  display: flex;
  justify-content: center;

  .headers {
    padding: 2rem;
    width: calc(100% - 4rem);
    max-width: 75%;
    flex-wrap: wrap;
    align-items: center;

    img {
      margin: 1rem 2rem 1rem 0;
      pointer-events: none;
      height: 128px;
      border-radius: 50%;
    }

    .headers-text {
      flex: 1 30rem;
      flex-direction: column;

      p { margin-top: 1rem; }
    }
  }
}