upstream _fcgiwrap { server unix:/var/run/fcgiwrap.socket; }

server {
    listen       80;
    expires $expires;

    add_header X-Frame-Options "SAMEORIGIN";
    add_header X-XSS-Protection "1; mode=block";


    location / {
        limit_except GET { deny all; }
        root   /usr/share/nginx/html;
        index  index.html;
        try_files $uri $uri/ /index.html;
    }

    location /service-worker.js {
        limit_except GET { deny all; }
        expires off;
        root   /usr/share/nginx/html;
    }

    location /cgi-bin/ {
        alias /cgi-bin;
        return 404;

        location ~ \.pl$ {
		    fastcgi_pass  _fcgiwrap;
		    include  /etc/nginx/fastcgi_params;
		    fastcgi_param path /usr/local/bin:/usr/local/perl/perls/perl-5.24.1/bin;
            fastcgi_param SCRIPT_FILENAME /$fastcgi_script_name;
		}
    }

    client_body_buffer_size 1K;
    client_header_buffer_size 1k;
    client_max_body_size 1k;
    large_client_header_buffers 2 1k;
}