@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    transition: 
        background 300ms;
}

html, body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}