.cards-container {
  margin-top: 1rem;
  flex-wrap: wrap;

  .card-container {
    margin: 1rem 1rem 0 0;
    flex: 1 15rem;
    flex-direction: column;

    img {
      pointer-events: none;
      width: 80px;
      height: 80px;
    }

    div {
      display: flex;
      flex-direction: column;

      h2, p { margin-top: 1rem; }
    }
  }
}