.buttons-group {
  margin: 1rem;
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  border-radius: 5px;

  a, button {
    margin: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    border-radius: 0;
    transition: .5s;

    &:hover { background-color: var(--primary-background-color-hover); }
  }

  &.notifications {
    a, button {
      background-color: var(--notification-button-color);
      color: var(--notification-button-text-color);

      span {
        color: var(--notification-button-text-color);
      }

      &:hover {
        background-color: var(--notification-button-color-hover);
        color: var(--notification-button-text-color) !important;

        span {
          color: var(--notification-button-text-color) !important;
        }
      }
    }
  }
}