.card {
  background-color: var(--background-secondary);
  border-radius: 5px;
  flex: 1;
  flex-direction: column;
  box-shadow: var(--shadow) 0 0 3px;

  .header {
    vertical-align: center;
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .section {
    flex: 1;
    padding-top: 1rem;
    display: block;
    word-break: break-word;
  }
}

.padding {
  padding: 1rem;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0.5rem;

  .card {
    flex: 1 32%;

    @media screen and (max-width: 1000px) {
      flex: 1 100%;
    }
  }
}
