.presentation {
  max-width: 25rem;
  padding: 1rem;
  border: .15rem solid var(--font-color-hover);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .logo {
    max-width: 270px;
    max-height: 155px;
    margin-bottom: 2rem;

    img {
      width: 100%;
      height: 100%;
      pointer-events: none;
    }
  }

  table {
    width: 100%;
    border: none;

    td {
      padding: .5rem 0;

      &:first-child {
        padding-right: 1.5rem;
        color: var(--font-color-hover);
      }
    }
  }

  .franchise {
    width: 100%;
    margin-top: 2rem;

    h1 { font-size: 18px; }

    .elements {
      display: flex;

      .element {
        max-width: 50%;
        margin-top: 1rem;
        display: flex;
        flex: 1 50%;
        align-items: center;
        cursor: pointer;

        div {
          width: 50px;
          height: 50px;
          display: flex;
          justify-content: center;
          align-items: center;

          svg {
            transition: fill .5s;
            transform: scale(2);
          }
        }

        span {
          font-size: 16px;
          line-height: 1.5;
          transition: color .5s;
        }

        &.previous {
          margin-right: 2rem;

          span { margin-left: .5rem; }
        }

        &.next {
          margin-left: auto;

          span { margin-right: .5rem; }
        }

        &:hover {
          div svg { fill: var(--font-color-hover); }

          span { color: var(--font-color-hover); }
        }
      }
    }
  }
}

.movie-specs {
  flex-direction: column;

  table {
    max-width: 40rem;
    margin-top: 2rem;
    border: .15rem solid var(--font-color);
    border-radius: 5px;
    border-collapse: collapse;
    font-size: 18px;

    td {
      padding: 1rem;
      border: .15rem solid var(--font-color-hover);

      &:first-child { color: var(--font-color-hover); }

      ul {
        list-style: inside;

        li {
          margin-top: .25rem;

          &:first-child { margin: 0; }
        }
      }
    }
  }
}