.headers {
  width: calc(100% - 4rem);
  padding: 1rem 2rem;
  flex-wrap: wrap;
  align-items: center;
  background-color: var(--primary-background-color);

  img {
    margin: 1rem 2rem 1rem 0;
    pointer-events: none;
    height: 128px;
    border-radius: 50%;
  }

  .headers-text {
    margin: 1rem 0;
    flex: 1 30rem;
    flex-direction: column;

    p {margin-top: 1rem; }
  }
}