.menu {
  padding: 2rem 0;
  max-width: 15rem;
  flex-direction: column;
  position: sticky;
  background-color: var(--secondary-background-color);

  svg {
    margin: -2rem 0;
    transform: scale(.5);
  }

  h2 {
    margin-bottom: 2rem;
    text-align: center;
  }

  .close-navigation { display: none; }

  a, button {
    display: flex;
    align-items: center;
    border-left: .2rem solid transparent;
    border-radius: 0;
    background-color: transparent;
    text-align: left;

    svg {
      transition: .5s;
      transform: scale(1.5);
    }

    span {
      transition: .5s;
      margin-left: 1rem;
    }

    &:hover, &.active {
      border-left: .2rem solid var(--font-color-hover);
      transition: .5s;

      svg, span {
        transition: .5s;
        fill: var(--font-color-hover);
        color: var(--font-color-hover);
      }
    }
  }

  @media screen and (max-width: 700px) {
    z-index: 1;
    position: fixed;
    left: -100%;
    transition: left .5s;

    &.opened {
      height: 100%;
      display: flex;
      top: 3.5rem;
      left: 0;

      .close-navigation { display: flex; }

      .avatar { display: initial; }
    }
  }
}

.content {
  padding: 2rem;
  flex-direction: column;

  .mobile-navigation { display: none; }

  @media screen and (max-width: 700px) {
    display: flex;
    flex-direction: column;

    .mobile-navigation {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      p { text-align: center; }

      button { margin-top: 1rem; }

      hr {
        margin: 2rem 0;
        width: 100%;
      }
    }
  }
}