.menu {
  max-width: 15rem;
  position: sticky;
  background-color: var(--primary-background-color);

  svg {
    margin: -2rem 0;
    transform: scale(.5);
  }

  h2 {
    margin-bottom: 2rem;
    text-align: center;
  }

  a, button {
    border-left: .2rem solid transparent;
    border-radius: 0;
    background-color: transparent;
    text-align: left;

    &:hover, &.active {
      border-left: .2rem solid orange;
      color: var(--font-color-hover);
      background-color: var(--primary-background-color-hover);
      transition: .5s;
    }
  }
}

.content {
}