.container {
  padding: 4rem 2rem;
  width: calc(100% - 4rem);
  max-width: 75%;
  flex-direction: column;
  align-self: center;

  h1, h2 { color: var(--font-color-hover); }

  .summary { max-width: 20rem; }

  .list {
    margin-top: 1.75rem;

    li { margin-top: .25rem; }
  }

  .sub-groups { margin-top: 2rem; }

  @media screen and (max-width: 700px) {
    width: calc(100% - 4rem);
    max-width: unset;
  }
}

.generic-margin-top { margin-top: 4rem; }

.quotes {
  font-style: italic;

  &:before {
    content: "\201F";
    font-family: sans-serif;
  }
  &:after {
    content: "\201D";
    font-family: sans-serif;
  }
}