.headers-root {
  z-index: 4;
  position: relative;
  background-color: var(--media-headers-background-color);

  .headers {
    padding: 0 2rem 4rem 2rem;
    width: calc(100% - 4rem);
    position: relative;

    .movie-poster {
      margin: 4rem 2rem 0 0;
    }

    .headers-content {
      margin-top: 4rem;
      flex: 1 30rem;

      h1,
      h2,
      p,
      span,
      i,
      q,
      a {
        color: white;
      }

      .buttons-top > button {
        margin: 1rem 1rem 0 0;
        padding: 0.75rem;
        display: flex;
        align-items: center;
        background-color: var(--media-headers-primary-background-color);
        border: 0.15rem solid var(--font-color-hover);
        border-radius: 50px;
        cursor: pointer;
        transition: background-color 0.5s;

        svg {
          width: 22px;
          height: 22px;
        }

        span {
          margin-left: 0.75rem;
        }

        &:hover {
          background-color: var(--media-headers-primary-background-color-hover);
        }
      }

      .buttons-bottom > a,
      .buttons-bottom > button {
        background-color: var(--media-headers-primary-background-color);

        &:hover {
          color: var(--font-color-hover);

          span {
            color: var(--font-color-hover);
          }

          svg {
            fill: var(--font-color-hover);
          }
        }
      }

      svg {
        fill: white;
      }

      h2,
      p {
        margin-top: 1rem;
      }

      h2 {
        font-size: 20px;
      }

      p {
        line-height: 1.5;
      }
    }

    @media screen and (max-width: 700px) {
      padding-bottom: 2rem;

      .movie-poster,
      .headers-content {
        margin-top: 2rem;
      }
    }
  }
}
