* {
    color: var(--font-color);
    scroll-behavior: smooth;
}

a, button, p, span, li {
    font-size: 18px;
    font-weight: bold;
}

a, button { text-align: center; }

a { text-decoration: none; }

h1 { font-size: 35px; }

h2 { font-size: 25px; }

hr {
    margin: 2rem 0;
    border-color: var(--font-color);
}

p, q { word-wrap: break-word; }

::-webkit-scrollbar { width: 8px; }

::-webkit-scrollbar-track { background: rgb(140, 140, 140); }

::-webkit-scrollbar-thumb { background-color: rgb(230, 85, 85); }

#app {
    max-width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--website-background-color);
    transition: background-color ease-in-out 300ms;
}