* { color: var(--font-color); }

a, button, p, span, li {
    font-size: 1.25rem;
    font-weight: bold;
}

a, button { text-align: center; }

a { text-decoration: none; }

h1 {
    font-size: 2.25rem;
}

hr {
    margin: 1rem 0;
    border-color: var(--font-color);
}

p { word-wrap: break-word; }

#app {
    max-width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--website-background-color);
    transition: background-color ease-in-out .5s;
}