div, p, span, body, button, input { transition: background 250ms; }

body {
    font-family: 'Roboto', sans-serif;
    color: black;
    background: #cecece;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

a {
    color: var(--foreground-primary);
    text-decoration: none;
}

button {
    outline: none;
    border: none;
    cursor: pointer;
}

#root { height: 100vh; }

h1,h2,h3,h4,h5 {
    padding: 0;
    margin: 0;
}
