div, p, span, body {
    transition: background 500ms;
}

body {
    font-family: 'Roboto', sans-serif;
    color: black;
    background: #cecece;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

button {
    outline: none;
    border: none;
    cursor: pointer;
}

#root {
    height: 100vh;
}

h1,h2,h3 {
    padding: 0;
    margin: 0;
}
