.homeHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.headerTitle {
    margin-bottom: 1.5rem;
}

.headerContent {
    padding-top: 4rem;
    padding-bottom: 12rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.headerSubtext {
    max-width: 58vw;
    margin-bottom: 2rem;
}

.points {
    padding: 1rem 1rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
    border-radius: 10px;
    div {
        p {
            word-break: break-word;
        }
        max-width: content-box;
        flex: 1 38%;
        padding: 1.75rem;
    }
}

.background {
    padding: 1.5rem;
    margin: 1rem;
    display: block;
    border-radius: 5px;
    background-color: var(--background-secondary);
    .content {
        display: block;
        word-break: break-all;
    }
    margin-bottom: 3%;
}

.contact {
    padding: 2rem;
}

.margin {
    margin: 1rem;
}