.homeHeader {
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerTitle {
    margin-bottom: 1.5rem;
}

.headerContent {
    padding-top: 7rem;
    padding-bottom: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--background-secondary);
}

.headerSubtext {
    max-width: 58vw;
    margin-bottom: 2rem;
}

.points {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
    border-radius: 10px;
    margin: 0.5rem;
    .point {
        max-width: content-box;
        flex: 1 48%;
        margin: 0.5rem;
    }
}

.section {
    padding: 1rem 1rem 0;
}

.background {
    padding: 1.5rem;
    display: block;
    border-radius: 5px;
    background-color: var(--background-secondary);
    .content {
        display: block;
        word-break: break-all;
    }

    margin: 1rem 1rem 0;
}

.contact {
    padding: 2rem;
}

.margin {
    margin: 1rem;
}