.top-text-margin { margin: 1rem; }

.projects-container {
    margin: 2rem;
    align-content: center;
}

.card-container {
    margin: .5rem;
    text-align: center;
}

.text { margin: 2rem 0 .5rem 0; }

.members-global-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.h3-margin { margin-bottom: 1rem; }

.members-container { margin: 1rem; }