.container-root {
  max-height: calc(100vh - 3.34rem);

  .container-main {
    position: relative;
    flex-direction: column;
    overflow-y: auto;
    transition: opacity 300ms;

    &.sidebar-open {
      overflow-y: hidden;
      opacity: .1;
    }
  }

  .content {
    padding: 6rem 4rem;
    flex-direction: column;

    h1, h2, h3 { color: var(--font-color-hover); }

    h2 { margin-top: 4rem; }

    h3 { margin-top: 1rem; }

    p {
      margin-top: 1rem;
      line-height: 1.5;
    }

    ul {
      margin-top: 1rem;
      list-style: inside;
    }

    a {
      color: var(--font-color-hover);

      &:hover { text-decoration: underline; }
    }

    @media screen and (max-width: 700px) {
      padding: 6rem 2rem;
    }
  }
}