@import "../../../../styles/Themes.module";

.headers-background {
  z-index: 4;
  position: relative;
  background-color: $MOVIE_HEADERS_PRIMARY_BACKGROUND;

  .headers-background-image {
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    opacity: $MOVIE_HEADERS_BACKGROUND_OPACITY;
  }

  .headers-no-background-image {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: $MOVIE_HEADERS_SECONDARY_BACKGROUND;
    opacity: 0.6;
  }

  .headers {
    padding: 0 2rem 4rem 2rem;
    width: calc(100% - 4rem);
    position: relative;

    .movie-poster {
      max-width: 270px;
      max-height: 400px;
      margin: 4rem 2rem 0 0;

      img {
        width: 100%;
        height: 100%;
        border-radius: 5px;
        box-shadow: 0 0 0.3rem black;
      }
    }

    .headers-content {
      margin-top: 4rem;
      flex: 1 30rem;

      h1,
      h2,
      p,
      span,
      i,
      q,
      a {
        color: white;
      }

      a,
      button {
        background-color: $MOVIE_HEADERS_SECONDARY_BACKGROUND;

        &:hover {
          color: var(--font-color-hover);

          span {
            color: var(--font-color-hover);
          }

          svg {
            fill: var(--font-color-hover);
          }
        }
      }

      svg {
        fill: white;
      }

      h2,
      p {
        margin-top: 1rem;
      }

      h2 {
        font-size: 18px;
      }

      p {
        line-height: 1.5;
      }
    }

    @media screen and (max-width: 700px) {
      padding-bottom: 2rem;

      .movie-poster,
      .headers-content {
        margin-top: 2rem;
      }
    }
  }
}
