@import "colors";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body {
    height: 100vh;
    background-color: var(--background);
}

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    color: var(--text-color-button);
}

.letter {
    fill: var(--text-color-button);
}

a {
    text-decoration: none;
}

a,
button,
p {
    font-size: 16px;
}

p {
    line-height: 1.5;
}

code {
    background-color: var(--background-primary);
    padding: 0.3rem;
    border-radius: var(--border-radius);
    word-break: break-all;
}

.provider {
    height: 100%;
    width: 100%;
}

#__next {
    height: 100%;
}

input[type="text"],
input[type="number"] {
    padding: .75rem;
    outline: none;
    border: .15rem solid var(--background-primary-hover);
    border-radius: 5px;
    background-color: var(--background-primary);
    font-size: 16px;
}

input[type="checkbox"] {
    margin-right: 1rem;
    width: 1rem;
    height: 1rem;
}