@import "./styles/colors";

.warning {
  border-radius: var(--border-radius);
  color: var(--text-color-button);
  background-color: $secondary_clr !important;
  padding: 10px;

  p {
    margin: 0;
    padding: 0;
  }
}
